@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.author-list-img {
    max-width: 75%;
    height: 250px;
    object-fit: cover;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
}

.author-list-card {
    width: 230px;
    background-color: var(--my-gray);
    margin-bottom: 150px;
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: pointer;
    animation: bounceIn 0.8s ease-out;
}

.author-list-card:hover {
    transform: scale(1.1);
}