@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}


.book-list-img {
    max-width: 80%;
    max-height: 300px;
    object-fit: contain;
    margin-top: -100px;
}

.book-list-card {
    width: 230px;
    background-color: var(--my-gray);
    margin-bottom: 150px;
    cursor: pointer;
    animation: bounceIn 0.8s ease-out;
    transition: transform 0.3s ease;
}

.book-list-card:hover {
    transform: scale(1.1);
}

.book-list-button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-radius: 7px;
    background-color: var(--my-dark-blue);
    color: var(--my-white);
}

.book-list-button:hover{
    background-color: var(--my-orange);
}