@keyframes createCommentAnim {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes removeCommentAnim {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}


hr {
    border: 5px solid var(--my-white);
    border-radius: 25px
}

.book-details-author-img {
    max-height: 300px;
    object-fit: contain;
}

.book-details-author-card {
    background-color: var(--my-gray);
    transform: scale(1);
    transition: transform 0.3s ease;
}

.book-details-author-card:hover {
    transform: scale(1.03);
}

.book-details-author-button {
    border-radius: 7px;
    background-color: var(--my-orange);
    color: var(--my-white);
    transition: all 0.3s ease
}

.book-details-author-button:hover{
    border-radius: 7px;
    background-color: var(--my-black);
    border: solid 1px var(--my-white);
    color: var(--my-orange);
}

.book-details-img {
    width: 345px;
    height: 450px;
    object-fit: contain;
}

.comment-card {
    background-color: var(--my-black);
}

.margin-element {
    margin-left: 100px;
    margin-right: 100px;
}

.book-details-comment-user-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border: 2px solid white;
}

.create-comment-animation {
    animation: createCommentAnim 0.7s ease-out forwards;
}

.remove-comment-anim {
    animation: removeCommentAnim 0.7s ease-in forwards;
}

.no-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 20px;
}

.no-comment-img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.no-comment-text {
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

.modal-content {
    background-color: var(--my-gray);
    color: var(--my-orange);
}

.gradient-border {
    border: 3px solid transparent;
    border-radius: 12px;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #ff6b6b, #fbc531) border-box;
}

.default-border {
    border: 3px solid var(--my-white);
    border-radius: 12px;
}

