{% extends "base.html" %}

{% block title %}Book Details - BookTalks{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/book_details.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container vh-auto">
    <div class="row h-50 mt-5">

        <div class="col-md-5 d-flex justify-content-center align-items-center p-5">
            <img class="rounded book-details-img" src="{{ url_for('images', path=book.image_path) }}">
        </div>

        <div class="col-md-7 d-flex flex-column text-white p-5">
            <div>
                <!-- Title -->
                <h1 class="h2 text-white">{{ book.title }}</h1>
                <!-- Rating -->
                <div class="rating mb-3">
                    {% for i in range(1,6) %}
                    {% if i <= book.rating %} <span class="bi bi-star-fill text-warning"></span>
                        {% else %}
                        <span class="bi bi-star-fill"></span>
                        {% endif %}
                        {% endfor %}
                </div>
                <!-- Description -->
                <small class="text-white">{{ book.description }}</small>

                <div class="d-flex align-items-center justify-content-between mt-5">
                    <!-- Published Date -->
                    <h5 class="d-flex align-items-center h5">
                        <i class="bi bi-calendar me-2"></i>
                        Yayın yılı: {{ book.published_date }}
                    </h5>
                    <!-- Page Count -->
                    <h5 class="d-flex align-items-center h5">
                        <i class="bi bi-book me-2"></i>
                        Sayfa sayısı: {{ book.page_count }}
                    </h5>
                </div>
                <!-- Divider -->
                <hr>

                <!-- Admin note -->
                <div class="d-flex flex-column h-50">
                    <h5 class="d-flex align-items-center h5 mb-2 orange-label">
                        <img width="40px" height="40px" class="img-fluid me-2"
                            src="{{ url_for('static', path='/icons/administrator.png') }}">
                        Admin Görüşü:
                    </h5>
                    <small>{{ book.admin_opinion }}</small>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex flex-column margin-element my-3">
        <div class="card book-details-author-card text-white m-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ url_for('images', path=author.image_path) }}"
                        class="img-fluid rounded book-details-author-img" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body p-5">
                        <h5 class="card-title orange-label">Yazar hakkında</h5>
                        <p class="card-text mx-auto">{{ author.author_info }}</p>
                        <button class="btn book-details-author-button"
                            onclick="window.location.href='/authors/author_details/{{ author.id }}'"> Yazarın diğer
                            kitaplarını gör</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="margin-element">

    <!-- User comments area -->

        <h2 class="text-center my-5">Diğer kullanıcıların yorumları: </h2>

        {% for comment in comments %}
            <div class="w-75 mx-auto text-white m-3 d-flex flex-column mb-4 p-4">
                <div class="row g-0">
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('images', path=author.image_path) }}"
                            class="img-fluid rounded-circle book-details-comment-user-img" alt="...">
                    </div>
                    <div class="col-md-9 mt-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center" >
                                <h5 class="card-title orange-label me-2">Muhammed Mustafa Geldi</h5>
                                <strong class="bisque-label">10 dakika önce</strong>
                            </div>
                            <p class="card-text mx-auto">Bazı yerler biraz yavaş ilerlese de genel olarak çok keyif aldım.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <!-- Create comment area -->

        <div class="d-flex flex-column w-75 m-3 justify-content-center mx-auto">
            <!-- Commenting Area -->
            <div class="card comment-card m-4">
                <div class="card-body">
                    <h5 class="card-title light-label-color">Yorum Yapın:</h5>
                    <form>
                        <textarea class="form-control" rows="5" placeholder="Yorumunuzu buraya yazın..."></textarea>
                        <button class="btn btn-dark w-100 mt-3">Yorumu Gönder</button>
                    </form>
                </div>
            </div>
        </div>

</div>
{% endblock %}