{% extends "base.html" %}

{% block title %} Login Page - BookTalks {% endblock %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">

        <!-- Left side -->
        <div class="col-md-5 d-flex justify-content-center align-items-center text-white py-5" style="background: linear-gradient(to left, var(--my-black), var(--my-dark-blue));">
            <div>
                <h1 class="display-5 px-5">BookTalks 📚 - Login</h1>
                <p class="lead px-5">Every Book Deserves a Discussion.</p>
                <p class="px-5 mt-5" >Books are meant to be shared, not just read. On BookTalks, you can connect with others, exchange thoughts, and dive deeper into every story. Let your reading journey spark meaningful conversations and lifelong connections.</p>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-7 d-flex justify-content-center align-items-center py-5">
            <div class="w-75">
                <h2>Welcome Back!</h2>
                <p style="color: var(--my-dark-blue);">Don’t have an account? <a style="color: var(--my-orange);" href="/auth/register-page">Create a new account now</a></p>
                <form id="login-form">
                    <div class="mb-3">
                        <label for="username" class="form-label light-label-color">Username</label>
                        <input type="text" class="form-control" name="username" id="username" autocomplete="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label light-label-color">Password</label>
                        <input type="password" class="form-control" name="password" id="password" autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Login Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='/js/login.js') }}"></script>
{% endblock %}