{% extends "base.html" %}

{% block title %} Giriş yap - BookTalks {% endblock %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">

        <!-- Left side -->
        <div class="col-md-5 d-flex justify-content-center align-items-center text-white py-5" style="background: linear-gradient(to left, var(--my-black), var(--my-dark-blue));">
            <div>
                <h1 class="display-5 px-5">BookTalks 📚 - Giriş</h1>
                <p class="lead px-5">Kitapların Ötesinde: Fikirler Buluşuyor</p>
                <p class="px-5 mt-5" >BookTalks, sadece kitap okumanın ötesine geçen bir deneyim sunar. Her kitabın altında açılan forumlarda, okuduğunuz eserler üzerine diğer okurlarla derinlemesine tartışın, farklı bakış açılarını keşfedin ve edebi yolculuğunuzu zenginleştirin. BookTalks'ta her sayfa, yeni bir sohbetin başlangıcıdır.</p>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-7 d-flex justify-content-center align-items-center py-5">
            <div class="w-75">
                <h2>Tekrar hoşgeldin!</h2>
                <p style="color: var(--my-dark-blue);">Bir hesabın yok mu? <a style="color: var(--my-orange);" href="/auth/register-page">Hemen bize katıl</a></p>
                <form id="login-form">
                    <div class="mb-3">
                        <label for="username" class="form-label light-label-color">Kullanıcı adı</label>
                        <input type="text" class="form-control" name="username" id="username" autocomplete="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label light-label-color">Şifre</label>
                        <input type="password" class="form-control" name="password" id="password" autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Giriş yap</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='/js/login.js') }}"></script>
{% endblock %}