<!-- Top Navbar -->
{% if user %}
<nav class="navbar custom-navbar navbar-expand-md navbar-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">BookTalks</a>
        <div class="ms-auto">
            <span style="color: var(--my-orange);">Merhaba, {{ user.username }} 👋</span>
        </div>

        <div class="flex-shrink-0 dropdown ms-auto">
          <a href="#" class="d-block link-dark te'xt-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('images', path=user.image_path) }}" alt="mdo" width="45" height="45" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-110px, 34px, 0px);" data-popper-placement="bottom-end">
            <li><a class="dropdown-item" href="/user/profile">Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="logout()">Çıkış yap</a></li>
          </ul>
        </div>


    </div>
</nav>

<!-- Bottom Navbar -->
<nav class="navbar custom-navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">

        <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bottomNavbar">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/books">Kitaplar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/authors">Yazarlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="https://muhammedmustafageldi.com" target="_blank" rel="noopener noreferrer">Hakkımızda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}